[submodule "work/hello"]
	path = work/hello
	url = https://learn.zone01oujda.ma/git/achent/hello.git
[submodule "work/cloned_hello"]
	path = work/cloned_hello
	url = https://learn.zone01oujda.ma/git/achent/cloned_hello.git
